---
- name: Vérifier si Docker est déjà installé
  stat:
    path: /usr/bin/docker
  register: docker_binary

- name: Installer dépendances nécessaires à Docker
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
    state: present
    update_cache: yes
  when: not docker_binary.stat.exists

- name: Créer le dossier des keyrings APT
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'
  when: not docker_binary.stat.exists

- name: Ajouter la clé GPG officielle Docker
  shell: |
    curl -fsSL https://download.docker.com/linux/debian/gpg \
    | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
  args:
    creates: /etc/apt/keyrings/docker.gpg
  when: not docker_binary.stat.exists

- name: Ajouter le dépôt Docker officiel
  apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/debian {{ ansible_distribution_release }} stable"
    state: present
    filename: docker
  when: not docker_binary.stat.exists

- name: Installer Docker Engine
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
    update_cache: yes
  when: not docker_binary.stat.exists

- name: Ajouter l'utilisateur au groupe docker
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes

- name: Démarrer et activer Docker
  systemd:
    name: docker
    state: started
    enabled: yes

- name: Vérifier que Docker fonctionne
  command: docker ps
  changed_when: false
